.custom-alert {
  position: fixed;
  top: 20px;
  right: -300px;
  background-color: #ffffff; /* White background */
  width: 400px;
  height: 70px;
  color: rgb(4, 174, 92); /* Green text */
  font-size: 20px;
  gap: 5px;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  z-index: 1000;
}

.custom-alert.show {
  left: 20px; /* Slide in from the left */
}

.custom-alert.hide {
  left: calc(100% + 20px); /* Slide out to the right */
}

.alert-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.alert-content button {
  background: none;
  border: none;
  color: rgb(4, 174, 92); /* Button text in green */
  font-size: 16px;
  cursor: pointer;
}
